[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/
Recordings/
Voltage_Test1_BackUpThisFolder_ButDontShipItWithYourGame/
VR_Horror_uni_BurstDebugInformation_DoNotShip/

# macOS
.DS_Store

# Visual Studio / Rider
.vscode/
.idea/
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.app

*.app
*_BackUpThisFolder_ButDontShipItWithYourGame/
*_BurstDebugInformation_DoNotShip/